.business-layout {
    background-color: #f8fafb;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.business-title {
    font-weight: 700;
    padding-bottom: 2em;
}

.business-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.image,
.business-name,
.business-type,
.business-desc {
    padding: 4px 8px;
}

.business-btn-submit {
    color: white;
    background-color: #FF545A;
    font-weight: 500;
    font-size: 1.7em;
    padding: 8px 16px;
    border-radius: 4px;
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}